// global css used across all components
// see https://cube.fyi/ for css approach
// see also https://github.com/piccalil-li/cube-css-dashboard/blob/master/scss/global.scss

@import 'config/gorko';
@import '~gorko/gorko.scss';

@import 'reset';

body {
    line-height: 1.5;
    overflow-x: hidden;
    // padding-bottom: get-size('600');

    @include apply-utility('weight', 'regular');
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: get-size('700');
}

h2,
h3 {
  font-size: get-size('600');
  @include apply-utility('font', 'header');
}

a {
  color: currentColor;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}

@import 'utilities/index';
@import 'compositions/index';

.nuxt-content {
  @extend .flow;
  // @extend .gap-bottom-500;
  :first-of-type {
    @extend .weight-bold;
  }
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1.8rem;
  max-width: 60rem;
  @include media-query('sm') {
    padding-inline: 2.5rem;
  }
}

.content__wrapper {
  width: percentage(5/6);
  @include media-query('sm') {
    width: percentage(7/8);
  }
  @include media-query('md') {
    width: percentage(11/12);
  }
}


